# variables

In [3]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
var1 = 45 #int

var2 = 56.99 #float

var3 = "string1"

str1 = 'i am string type'

var4 = True

print(var1 , var2 , var3 , str1, var4, sep='\n')

45
56.99
string1
i am string type
True

In [10]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(str1))
print(type(var4))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [11]:
#concatation of nummerical value not perform but we can do for string 

print(var3+str1)

string1i am string type

In [12]:
print(var1+var2)

101.99000000000001

In [13]:
print(var3+str1)
print(var1+var2)

string1i am string type
101.99000000000001

In [21]:
#multiple assignment
a=b=c= 1
b=56
c=a=0
b=b-a
print(a)
print(b)
print(c)

0
56
0

In [22]:
print(a,b,c)

0 56 0

In [23]:
print(b)

56

In [24]:
b,c,d = 31,32,33

print(b,c,d)

31 32 33

In [25]:
del c

In [27]:
print(b,c,d)

NameError: name 'c' is not defined

# python datatypes
    
    1) numerical  (immutable)
          (i)  int
         (ii) float
         (iii) complex
         
    2) string ( immutable)
    3) list   (mutable)
    4) tuples (mutable)
    5) dictionary( mutable)
    6) sets (mutable)

# String

In [29]:
#last string print without using print()
str1= "vadodara"
str2="python data"
str3="machine learning"
 
str3

'machine learning'

In [30]:
print(str1, str2, str3)

vadodara python data machine learning

In [31]:
# string concatation

print(str1+str2+str3)

vadodarapython datamachine learning

In [2]:
str1= "vadodara"
str2="python data"
str3="machine learning"
 
print(str1+' '+str2+' '+str3)

vadodara python data machine learning

In [2]:
#multi line string 

str1='''python is a 
      programming langauge '''
print(str1)

python is a
      programming langauge

In [3]:
str1 = 'python is a programming langauge'
str1

'python is a programming langauge'

In [4]:
str1[0]

'p'

In [5]:
str1[:]

'python is a programming langauge'

In [6]:
#it will print the string from location 0 to 10
str1[0:10]

'python is '

In [7]:
str1[2:9]

'thon is'

In [8]:
str1[7:19]

'is a program'

In [9]:
str1

'python is a programming langauge'

In [11]:
#it will print the last postion string letter 
str1[-1]

'e'

In [12]:
# if you want to print from begin to end with some steps

# string[begin:end:steps]

In [13]:
s = 'learning python is very very easy !!!'
print(s)

learning python is very very easy !!!

In [15]:
s[0:15]

'learning python'

In [16]:
s[0:8]

'learning'

In [17]:
# now if we want to print s in odd or even 

s[0:8:2]

'lann'

In [18]:
s

'learning python is very very easy !!!'

In [19]:
s[-1]

'!'

In [21]:
#if you want to print the string in revers form no need to give begin:end just give step
s[::-1]

'!!! ysae yrev yrev si nohtyp gninrael'

In [22]:
s[20:10:-1]

'ev si noht'

In [23]:
str1

'python is a programming langauge'

In [24]:
s

'learning python is very very easy !!!'

In [25]:
str1+s

'python is a programming langaugelearning python is very very easy !!!'

In [26]:
#if you want t0 print same string multiplt time 

str1*2

'python is a programming langaugepython is a programming langauge'

In [27]:
s*3

'learning python is very very easy !!!learning python is very very easy !!!learning python is very very easy !!!'

In [29]:
#if you want to delete the string it will not support 
del s[1]

TypeError: 'str' object doesn't support item deletion

In [31]:
#but you can update it 
s = 'new string'
print(s)

new string

In [32]:
# length of the string 

len(s)

10

In [33]:
str1>=s

True

In [34]:
str1!=s

True

In [35]:
str2= '   afjakakja'
str3= ' ajnjasxus  '

In [36]:
#it will not count right space 
str2.rstrip()

'   afjakakja'

In [37]:
#it will not count left space
str2.lstrip()

'afjakakja'

In [38]:
s

'new string'

In [39]:
#if you want to find the particular string 

str1='python is a fun langauge'
print (str1.find('langauge'))

16

In [42]:
#if strinng is not found then it will return -1
print(str1.find('jay'))

-1

# String formatting

In [45]:
#positional formatting 
string1 = "{1} {0} {2}".format('python', 'programme', 'langauge')
print("\nprint string in positional order: ")
print(string1)

print string in positional order:
programme python langauge

In [49]:
#keyword formatting
string1 = "{a} {e} {c}".format(a="python" , e= "progamming",c="langauge")
print("\n print string in keyword:")
print(string1)

 print string in keyword:
python progamming langauge

In [2]:
#default order
string1 = "{} {} {}".format("python" , "programming" ,"langauge")
print("\n print string in default order:")
print(string1)

 print string in default order:
python programming langauge

# Tuple

In [3]:
tuple1=('abcd', 123, 3.5,'code', 2.2 )
print(tuple1)

('abcd', 123, 3.5, 'code', 2.2)

In [4]:
tuple1[0]

'abcd'

In [6]:
tuple1[4]

2.2

In [7]:
tuple1[-1]

2.2

In [8]:
tuple1[2:4]

(3.5, 'code')

In [9]:
tuple1[2:5]

(3.5, 'code', 2.2)

In [12]:
tuple1[3:1]

()

In [13]:
len(tuple1)

5

In [15]:
tuple1*2

('abcd', 123, 3.5, 'code', 2.2, 'abcd', 123, 3.5, 'code', 2.2)

In [16]:
tuple2=(123, 'jay patel')

In [17]:
tuple1+tuple2

('abcd', 123, 3.5, 'code', 2.2, 123, 'jay patel')

In [18]:
t=(40,10,30,20)
t1=sorted(t)
print(t1)

[10, 20, 30, 40]

In [19]:
tup=(10,20,10,10,20)
print(tup)

(10, 20, 10, 10, 20)

In [20]:
print(tup.index(10))

0

In [21]:
print(tup.index(30))

ValueError: tuple.index(x): x not in tuple

# List

In [1]:
lst1=['hello', 33, 55.6, False , 1000 ]
lst1

['hello', 33, 55.6, False, 1000]

In [4]:
lst1=['hello', 33, 55.6, False , 1000 ]
lst2=['hi', 36, 56, True , 100 ]
lst3=['bye', 37, 55.6, False , 10 ]

In [5]:
len(lst1+lst2)

10

In [6]:
type(lst1)

list

In [7]:
lst1[4]

1000

In [8]:
lst1[1:4]

[33, 55.6, False]

In [12]:
lst1[-4:-2]

[33, 55.6]

In [13]:
lst1[1]=2000
lst1

['hello', 2000, 55.6, False, 1000]

In [14]:
del lst1[-1]

In [15]:
lst1

['hello', 2000, 55.6, False]

In [18]:
#WE Can update and del in list

# Dictonery

In [19]:
dict1 ={'institute':'kjit', "course": "artifical intelligence", "branch" : "information technology"}

print(dict1)

{'institute': 'kjit', 'course': 'artifical intelligence', 'branch': 'information technology'}

In [21]:
dict2 ={'fruit':'apple', "colour": "black", "branch" : "information technology"}
dict2

{'fruit': 'apple', 'colour': 'black', 'branch': 'information technology'}

In [22]:
dict2 ={1:'apple', 2: "black", 3 : "information technology"}
dict2

{1: 'apple', 2: 'black', 3: 'information technology'}

In [23]:
#print keys only
dict1.keys()

dict_keys(['institute', 'course', 'branch'])

In [24]:
#print values
dict1.values()

dict_values(['kjit', 'artifical intelligence', 'information technology'])

In [25]:
dict3 = {}
dict3["one"] = "value for key one"
dict3["two"] = "value for key two"

dict3

{'one': 'value for key one', 'two': 'value for key two'}

In [31]:
print(len(dict3))

2

In [32]:
print(type(dict1))

<class 'dict'>

In [35]:
print(dict1)

{'institute': 'kjit', 'course': 'artifical intelligence', 'branch': 'information technology'}

In [36]:
dict1['institute']

'kjit'

In [37]:
dict1['course']

'artifical intelligence'

In [39]:
dict1["course"] = "python"
print(dict1)

{'institute': 'kjit', 'course': 'python', 'branch': 'information technology'}

In [40]:
del dict1["course"]

dict1

{'institute': 'kjit', 'branch': 'information technology'}

In [41]:
dict3 = {"compnay" :["comp A" , "Com B" , "com C"], "employee":["raju","shyam" , "shumder"]}
print(dict3)

{'compnay': ['comp A', 'Com B', 'com C'], 'employee': ['raju', 'shyam', 'shumder']}

In [44]:
dict3['compnay'][2] = "jay"
print(dict3)

{'compnay': ['comp A', 'Com B', 'jay'], 'employee': ['raju', 'shyam', 'shumder']}

# python loops 

while expression:

             statment()

In [57]:
count = 0

while (count < 5):
    count = count+1
    print("Jaypatel")
else : 
    print("avengers :end game")

Jaypatel
Jaypatel
Jaypatel
Jaypatel
Jaypatel
avengers :end game

# for loop

 for iteration var in seq:
      
        statment()

In [58]:
n = 4

for i in range(0,n):
    print(i)

0
1
2
3

In [59]:
lst1

['hello', 2000, 55.6, False]

In [64]:
for index in range(len(lst1)):
    print (lst1[index])
else:
    print("dr.strange : multiverse of madness")

hello
2000
55.6
False
dr.strange : multiverse of madness

# if and if else

In [65]:
i=0

if(i>10):
    print("iam groot")
else:
    print("you are groot")

you are groot

In [67]:
if(i<10):
    print("i am groot")
else:
    print("you are groot")

i am groot

# python calculator

In [3]:
#to make a calculator

#addition

def add(x,y):
    return x+y

def sub(x,y):
    return x-y

def div(x,y):
    return x/y

def mul(x,y):
    return x*y

print("select operation:")
print("1.ADD")
print("2.SUB")
print("3.DIV")
print("4.MUL")

choice = input("enter the choice:")

num1 = int(input("enter the number one :"))
num2 = int(input("enter the number two :"))

if choice =='1' :
    print(num1,'+',num2,'=',add(num1,num2))
    
elif choice =='2' :
    print(num1,'-',num2,'=',sub(num1,num2))
    
elif choice =='3' :
    print(num1,'/',num2,'=',div(num1,num2))
    
elif choice =='4' :
    print(num1,'*',num2,'=',mul(num1,num2))
    
else:
    print("please select correct option!!!!")

select operation:
1.ADD
2.SUB
3.DIV
4.MUL
enter the choice:2
enter the number one :12
enter the number two :13
12 - 13 = -1